body {
    background-color: ivory;
    display: flex;              /* 자식 요소가 자신의 크기만큼만 넓이를 가진다 */
    justify-content: center;    /* 요소를 중앙에 정렬 */
}

canvas {
    /* 캔버스 크기 지정 */
    width: 800px;
    height: 800px;
    border: 5px solid black;
}